$color-text-white: #fff;
$color-gradient-bcg: #FE3449;

$color-gradient-categories-first: #ff7800;
$color-gradient-categories-second: #fe374a;

$color-gradient-categories-ellipse-first-color-first: rgba(255, 255, 255, 0.042);
$color-gradient-categories-ellipse-first-color-second: rgba(216, 248, 255, 0.2);

$color-gradient-categories-ellipse-second-color-first: rgba(254, 52, 73, 0.2);
$color-gradient-categories-ellipse-second-color-second: rgba(255, 55, 74, 0.2);

$color-ellipse-start: rgba(255, 255, 255, 0);
$color-ellipse-first: #F5DF4D;
$color-ellipse-second: #FF6D43;

$color-linear-gradient-picture-first: rgba(25, 35, 47, 0);
$color-linear-gradient-picture-second: #17212D;

$color-button-bcg: #FF485A;

$color-faq-title: #6A677B;
$color-footer-bcg: #F7F9F9;

$color-product-bcg: #FF485A;


