@import "../base/variables";

.product {
    padding: 34px 49px 28px 32px;
    //width: 100%;
    background: $color-text-white;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    &__title {
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        color: $color-faq-title;
        margin-bottom: 30px;
    }

    &__time {
        padding-left: 28px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $color-faq-title;
        //&::before {
        //    position: absolute;
        //    top: 50%;
        //    left: 0;
        //    display: block;
        //    width: 18px;
        //    height: 18px;
        //    content: "";
        //    transform: translate(-50%, -50%);
        //    background: url('../../images/svg/clock.svg') center center no-repeat;
        //}
    }

    //&:hover,
    //&:focus {
    //    background: $color-product-bcg;
    //}
    //
    //&:hover > &__title,
    //&:focus > &__title,
    //&:hover > &__time,
    //&:focus > &__time, {
    //        color: $color-text-white;
    //}
    //
    //@media screen and (min-width: 576px) and (max-width: 1199px) {
    //    width: calc((100% - 2 * 20px) / 2);
    //    margin: 10px;
    //}
    //
    //@media screen and (min-width: 1200px) and (max-width: 1399px) {
    //    width: calc((100% - 3 * 20px) / 3);
    //    margin: 10px;
    //}
    //
    //
    //@media screen and (min-width: 1400px) {
    //    width: calc((100% - 4 * 20px) / 4);
    //    margin: 10px;
    //}
    //
    //&:not(:last-child) {
    //    @media screen and (max-width: 575px) {
    //        margin-bottom: 20px;
    //    }
    //}
}





//@import "../base/variables";
//
//.products {
//    max-width: 1522px;
//}
//
//.product {
//    padding: 34px 49px 28px 32px;
//    width: 100%;
//    background: $color-text-white;
//    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
//    border-radius: 10px;
//
//    &__title {
//        font-size: 18px;
//        line-height: 24px;
//        font-weight: 400;
//        color: $color-faq-title;
//        margin-bottom: 30px;
//    }
//
//    &__time {
//        padding-left: 28px;
//        font-size: 16px;
//        line-height: 24px;
//        font-weight: 400;
//        color: $color-faq-title;
//        &::before {
//            position: absolute;
//            top: 50%;
//            left: 0;
//            display: block;
//            width: 18px;
//            height: 18px;
//            content: "";
//            transform: translate(-50%, -50%);
//            background: url('../../images/svg/clock.svg') center center no-repeat;
//        }
//    }
//
//    &:hover,
//    &:focus {
//        background: $color-product-bcg;
//    }
//
//    &:hover > &__title,
//    &:focus > &__title,
//    &:hover > &__time,
//    &:focus > &__time, {
//            color: $color-text-white;
//    }
//
//    @media screen and (min-width: 576px) and (max-width: 1199px) {
//        width: calc((100% - 2 * 20px) / 2);
//        margin: 10px;
//    }
//
//    @media screen and (min-width: 1200px) and (max-width: 1399px) {
//        width: calc((100% - 3 * 20px) / 3);
//        margin: 10px;
//    }
//
//
//    @media screen and (min-width: 1400px) {
//        width: calc((100% - 4 * 20px) / 4);
//        margin: 10px;
//    }
//
//    &:not(:last-child) {
//        @media screen and (max-width: 575px) {
//            margin-bottom: 20px;
//        }
//    }
//}
