@import "../base/variables";

.title {
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    color: $color-text-white;
    @media screen and (min-width: 1200px) {
        font-size: 64px;
        line-height: 72px;
    }
}
